

<!-- pruebas almu -->

<div class="container-cards">
  <div class="content-cards">


    <div class="musician-cards">
      <h2 class="text-center">MUSICIANS IN THIS LOCATION
      </h2>
      <%= render 'musicians/cards' %>
    </div>
    <div class="projects-cards">
      <h2 class="text-center">PROJECTS THAT YOU CAN JOIN
      </h2>

      <%= render 'projects/cards' %>
    </div>
  </div>
</div>


<!-- old code -->

<!-- <div>
  <div class=results-container>
    <h1 class="text-center">This is the result of your search:</h1>
     <h2 style=color:gray>Musicians</h2>
     <%#= render 'musicians/cards' %>
     <h2 style=color:gray>Projects</h2>
     <%#= render 'projects/cards' %>
  </div>
</div> -->

