.push_down{
  padding-top:100px;
}
.margin_down{
 margin-bottom: 70px;
}

.margin_up{
 margin-top: 80px;
}

.card_friends{
  background-color: rgb(236, 236, 236);
  padding: 5px 70px;
  // padding-right: 70px;
  // padding-left: 70px;
  // margin-right:70px;
  // margin-top: -50px;
  color:#35363b;
  width: 100% ;
  min-height: 370px;
  margin-bottom: 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);

}

.wrapper_connections{
  background-color: #b2a8a7;
}

.btn{
  padding:5px 10px !important;

}


