 <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
  <!-- MiniPreview stuff here -->
  <!-- <script type="text/javascript"> -->
   <!--  $(function() {
                $('#ccc a').miniPreview({ prefetch: 'pageload' });
            }); -->
  <!-- </script> -->

<div class="container card-container">
  <div class="row">
    <% @projects.each do |project| %>
      <div class="col-xs-12 col-sm-4 card-box card-box-project zoom">
        <%= link_to project_path(project), class: "card-link" do%>
        <div id="ccc" class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)),url('<%= cl_image_path(project.picture)%>');">

        </div>
        <% end %>
        <div class="card-description">
            <h2 class="description"><%= project.title.capitalize %></h2>
            <p class="instrument-card"><%= project.location.upcase %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>







<!-- <%#= link_to musician_path(@project.user) do  %>
      <li ><%#= cl_image_tag @project.user.avatar, width: 100, height: 100, crop: :fill , class: "participant"  %>

      </li>
      <%# end %>
 -->
