.card-container{
  padding-left: 100px;
}

.container-cards{
padding: 70px;
background-color: #b2a8a7;
}

.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;

}
.card-box{
  background-color: rgb(236, 236, 236);
  padding: 5px;
  margin:5px;
  width: 300px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.card-box-project{
  width: 470px;
}

.card-description{
  position: absoulte;
  margin:10px;

}
.text-center {
  color: #35363b;
  padding: 20px;
}
.description{
  margin:0;
}
.instrument-card{
  color:#877f7e;
}


.zoom:hover,
.zoom.hover {
  -webkit-transform: scale(1.01) ;
  transform: scale(1.01);
}

// hover js minipreview ------------------------
// .card-link {
//   position: absolute;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   width: 100%;
//   z-index: 2;
//   background: black;
//   opacity: 0;
// }
// .card-link:hover {
//   opacity: 0.1;
//   transition: 1s !important;
//   transition-delay: 1s !important;
// }

// .mini-preview-anchor {
//     display: inline-block;
//     position: relative;
//     white-space: nowrap;
// }

// .mini-preview-wrapper {
//     -moz-box-sizing: content-box;
//     box-sizing: content-box;
//     position: absolute;
//     overflow: hidden;
//     z-index: 1;
//     opacity: 1;
//     margin-top: 0px;
//     border: solid 0px #000;
//     box-shadow: 4px 4px 6px rgba(0, 0, 0, .3);
//     transition: z-index steps(1) .3s, opacity .3s, margin-top .3s;
// }

// .mini-preview-anchor:hover {
//   opacity: 1 !important;
// }

// .mini-preview-anchor:hover .mini-preview-wrapper {
//     z-index: 2 !important;
//     opacity: 1 !important;
//     margin-top: 6px;
//     transition: opacity .3s, margin-top .3s;

// }

// .mini-preview-loading, .mini-preview-cover {
//     position: absolute;
//     top: 0;
//     bottom: 0;
//     right: 0;
//     left: 0;
// }

// .mini-preview-loading {
//     display: table;
//     height: 100%;
//     width: 100%;
//     font-size: 1.25rem;
//     text-align: center;
//     color: #f5ead4;
//     background-color: #59513f;
// }

// .mini-preview-loading::before {
//     content: 'Just a second...';
//     display: table-cell;
//     text-align: center;
//     vertical-align: middle;
// }

// .mini-preview-cover {
//     background-color: rgba(0, 0, 0, 0); /* IE fix */
// }

// .mini-preview-frame {
//     border: none;
//     -webkit-transform-origin: 0 0;
//     transform-origin: 0 0;
// }
// end of js hover--------------------

// ------------------------almu tests




