.footer {
  background: #35363b;
  // border-top: solid #ef4343 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 200px;
  padding: 100px 50px;
  color: rgba(0,0,0,0.4);

}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: #d3d0cb;

  text-decoration: none;
  padding: 0px 10px;
}
.footer-links a:hover {
  color: #ef4343;

}
.footer-links li {
  text-decoration: none;
  list-style:none;

}

.footer .fa{
  font-size: 30px;
  margin: 10px;
}

.footer-copyright{
  color: #ef4343;
}
