
.profile-container{
  background-color: #27292e;
  color: white;
  padding-bottom: 70px;
  color: white;

}
.profile-content{
  display:flex;
}

.banner-profile{
  // display: flex;
  // flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  height: 320px;
  background-position:0px 0px;
  // border-bottom: solid #ef4343 1px;
  background-size: cover !important;
}

.profile-info-right{
  background-color: rgb(236, 236, 236);
  padding: 30px 70px;
  // padding-right: 70px;
  // padding-left: 70px;
  margin-right:70px;
  margin-top: -50px;
  color:#35363b;
  position: relative;
}
.profile-social{
  background-color: #ef4343;
  display: flex;
  // align-items: center;
  justify-content: center;
  // margin-left: -70px;
  // margin-right: -70px;
  position: absolute;
  left: 0;
  right: 0;
}

.profile-social .fa{
  font-size: 20px;
  margin: 10px;
}
.profile-social a {
  color: #35363b;
  text-decoration: none;
  padding: 0px 10px;
}
.profile-social a:hover {
  color: rgb(236, 236, 236);

}
.media{
  margin-bottom: 50px;

}

.avatar-profile{
  margin-top: -150px;
  margin-left: 50px;
  margin-right: 30px;
  // border-radius: 50%;
  // border: solid #ef4343 2px;
  border: solid #d3d0cb 2px;
  // border-radius: 15px;
}
.friends-avatars{
  border-color: #d3d0cb;
  display: flex;
  padding: 5px;
}
.photo-name{
  display: flex;
}
.photo-name p {
  margin-left: 100px;
  margin-top: 25px;
  color: white;
}

.profile-info-left{
  flex: 0 0 350px;
  margin-left:70px;
  margin-top: 30px;

}



.about-content{
  margin-bottom:50px;
//   background-color: white;
//   border-right: solid #ef4343 2px;
//   border-bottom: solid #ef4343 2px;
//   padding: 30px;
//   border-radius: 15px;
//   color:  #0a2239;

}

.skills{
  background-color: #ef4343;
  padding: 5px;
  border-radius: 3px;
  margin: 15px;
}



