.banner-profile{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: left;
  height: 400px
}

.avatar-profile{
  background: none;
  margin-left: 30px;
  margin-bottom: 30px;
  border-radius: 50%;
}

